.card-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.info-box {
  width: 300px;
  margin-left: 570px;
  background: rgba(255, 255, 255, 0.15); /* soft glass */
  border-radius: 16px;
  text-align: center;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.info-box:hover {
  transform: translateY(-6px); /* lift effect */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}
